.drawer {
  position: fixed;
  top:0;
  bottom:0;
  width:25%;
  height: 100%;
  right:0;
  transition: .25s ease transform;
  background-color: white;
  z-index: 2;
  box-shadow: 2px 2px 12px 10px rgba(230,230,230,.5);
}
.children_container {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}
.drawer header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  border-bottom: 1px solid rgb(200,200,200);
}
.drawer.closed {
  transform: translateX(100%);
}

.close_button{
  text-align: center;
  color: rgb(100,100,100);
  border-radius: 5px;
  transition: .25s ease background-color;
  width: 50px;
  height: 30px;
  cursor: pointer;
}
.close_button:hover {
  background-color: rgb(250,250,250);
}
.drawer_title {
  text-transform: capitalize;
}
.drawer_subtitle {
  color: #ccc;
}