.companies_list {
  margin: 0;
  padding:0;
  list-style: none;
  height: 100%;
  overflow-x: hidden;
}
.companies_list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px solid whitesmoke;
}
.companies_list li:hover {
  background: whitesmoke;
}
.companies_list > li > h4 {
  text-transform: capitalize;
  margin:0;
}
.active_companies_list_item {
  background: whitesmoke;
}