@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html,head,body,#app,#page_container {
  padding:0;
  height:100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}
ul {
  margin:0;
  padding:0;
}
button {
  outline: none;
  border: none;
}

input {
  border-radius: 5px;
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 3px 1px whitesmoke;
  outline: none;
  padding:5px 10px;
  margin:5px;
}
input:focus {
  border-color: gray;
}
small {
  color: gray;
}
input:placeholder-shown {
  text-transform: capitalize;
}